
$primary: #202020;
$light: #f0f0f5;

@import "bootstrap";

.jumbotron{
  background-color: white;
}

.container{
  border-radius: 0.3rem;
  background-color: $light;
}

.progress{
  background-color: lightblue;
}

.restrictions-button{
  margin: auto;
  max-width: 400px;
}

.color-green{
  background-color: $success;
}

.color-yellow{
  background-color: $warning;
}

.color-red{
  background-color: $danger;
}

.color-purple{
  background-color: purple;
}

.color-black{
  background-color: black;
}

.doom-bar .progress-bar{
  z-index: 1;

}

.progress-bar{
  font-weight: 700;
}

.doom-bar{
  margin-top:40px;
  height: 50px;
}

.color-light-green{
  background-color: #28a74680;
}

.color-light-yellow{
  background-color: #ffc10780;
}

.color-light-red{
  background-color: #dc354680;
}

.color-light-purple{
  background-color: rgba(128, 0, 128, 0.3);
}

.color-light-black{
  background-color: rgba(0, 0, 0, 0.3);
}

.doom-light-bar{
  background-color: white;
  margin-top: -50px;
  height: 50px;
}

.doom-light-bar .progress-bar div{
  z-index: 2;
}

.doom-bar-label{
  border-width: 1px;
  border-right-style: dashed ;
}

.tooltiptext {
  visibility: visible;
  width: 30px;
  margin-left:-15px;
  margin-top:-25px;
  background-color: white;
  color: $primary;
  text-align: center;
  padding: 8px 0;
  border-color: $primary;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  position: absolute;
  z-index: 3;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 105%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $primary transparent transparent transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
